@page
@model Zitadel.AuthN.Dev.NetCore31.Pages.Index

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
<div>
    <p>Index Page (Unauthorized)</p>
    <p>
        <a href="/Authenticated">Authenticated page</a>
    </p>
</div>
</body>
</html>
